body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #1c4732;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  
  .menu {
    margin-left: 45vh;
  }

  .menu a {
    margin: 15px;
    text-decoration: none;
    color: white;
  }

  .phone {
   
    color: white;
  }

  /* .phone::before {
    content: '';
    display: block;
    position: absolute;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-image: url(/img/telephone.png);
    background-size: cover;
    border-radius: 50%;
    
  } */

  
  .add-house {
    padding: 10px 10px;
    border: 1px solid white;
    background: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .main {
    text-align: center;;
    padding: 50px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  .subtitle {
    font-size: 14px;
    color: #656565;
  }
  
  .main h1 {
    font-size: 32px;
    color: #1c4732;
    margin: 10px 0;
  }
  
  .desc {
    color: #656565;
    margin-bottom: 30px;
  }
  
  .search {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 500px;
    margin: auto;
    position: relative;
  }

  .search input {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }

  .search .select {
    height: 10px;
  }

   .search-button {
    position: absolute;
    right: -40px;
    top: 0px;
    padding: 8px;
    background-color: #f9c83f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .search-png {
    width: 20px;
    height: 20px;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filters button {
    margin: 0 5px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .filters button:focus {
    transform: scale(1.1);
    background-color: #f9c83f;
    color: black;
  }

  .steps {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .steps h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }
  
  .steps-desc {
    color: #656565;
    margin-bottom: 40px;
  }
  
  .steps2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    margin: 0 auto;
  }
  
  .step {
    background: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 25px;
    width: 280px;
    text-align: center;
  }
  
  .step .icon {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .icon1 {
    width: 50px;
    height: 50px;
  }
  
  .step h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .step p {
    color: #656565;
    font-size: 14px;
  }

  .categories {
    padding: 60px 20px;
    background-color: #fefefe;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .categories h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }
  
  .cat-desc {
    color: #656565;
    margin-bottom: 40px;
  }
  
  .category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .category-list a {
    text-decoration: none;
  }

  .category-card {
    background-color: white;
    border: 1px solid #656565;
    border-radius: 12px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .category-card:hover {
    transform: scale(1.05);
  }
  
  .category-card:active {
    background-color: #f9c83f;
  }
  
  .cat-icon {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .cat-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
  }
  
  .cat-count {
    font-size: 14px;
    color: #777;
  }

  .objects {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .objects h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }
  
  .objects-desc {
    color: #656565;
    margin-bottom: 40px;
  }
  
  .object-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
  }

  
  .object-card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #656565;
    overflow: hidden;
    width: 300px;
    text-align: left;
    transition: 0.3s;
  }
  
  .object-card:hover {
    transform: scale(1.05);
    
  }
  
  .object-img {
    background-color: #ddd;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .object-img-png {
    width: 100%;
    height: 100%;
  }
  
  .object-info {
    padding: 15px;
  }
  
  .object-price {
    color: #1c4732;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .object-title {
    all: unset; 
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    margin-right: 10px;;
    color: #484848;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .object-details {
    font-size: 13px;
    color: #787878;
  }
  
  .trust-us {
    background-color: #fef1f1;
    padding: 60px 20px;
    text-align: center;
    height: 300px;
    border-bottom: 1px solid #ddd;
  }
  
  
  .trust-us h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }
  
  .trust-us p {
    gap: 0px;
  }

  .trust-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .trust-us-png img {
    position: relative;
    width: 200px;  
    border-radius: 10px;
    margin-bottom: 40px;
    
    
  }
  
  .trust-us-list {
    position: relative;
    margin-bottom: 130px;
    gap: 10px;
    text-align: left;
    list-style: none;
    line-height: 1.8;
  }

  .trust-us-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    background-image: url(/img/check.png);
    background-size: cover;
    background-color: #ffffff;
    background-position: center;
    border-radius: 50%;
  }

  .get-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c4732;
    height: 200px;
    position: relative;
    padding: 0; 
    margin: 0;  
  }
  
  .get-contact h2 {
    font-size: 26px;
    color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .get-contact p {
    font-size: 18px;
    color: #f0f0f0;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .get-contact-enter {
    position: relative;
    width: 20%;
    min-width: 250px;
  }
  
  .get-contact-enter input {
    background-color: #266144;
    color: #f0f0f0;
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #000000;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  .get-contact-enter ::placeholder {
    color: white;
  }
  
  .enter-button {
    position: absolute;
    right: 2px;
    padding: 8px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .enter-png {
    width: 20px;
    height: 20px;
  }
  
  .footer {
    background-color: #6f6f6f;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .footer p {
    color: #383838;
  }
  

/* contacts */

 .contacts {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .contacts h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }

  .contact-info li {
    list-style: none;
    line-height: 1.8;
    margin-right: 5vh;
  }

  .pages {
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .pages h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }

  .pages-info li {
    list-style: none;
    line-height: 1.8;
    margin-right: 5vh;
  }

  /* company-info */

  .company-info {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .company-desc h2 {
    font-size: 30px;
    color: #1c4732;
    margin-bottom: 10px;
    
  }

  .company-desc p {
    font-size: 20px;
  }

  .company-info2 {
    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .company-text h2 {
    font-size: 26px;
    color: #1c4732;
    margin-bottom: 10px;
  }

  .company-text p {
    font-size: 18px;
  }

/* news */

  .news-body {
  background-color: #f5f5f5;
}

  .news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

  .news-cont {
  margin-top: 20px;
  background-color: white;
  padding: 25px;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
}

  .news-img-1 img {
  position: relative;
  width: 20%;
  border-radius: 10px;
  margin-right: 20px;
  float: left;
}

  .news-card {
  position: relative;
  gap: 10px;
  text-align: left;
  list-style: none;
}

  .news-date {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

  .news-card h2 {
  font-size: 20px;
  margin-left: 0px;
  color: #1c4732;
  margin-top: 0;
}

  .news-card p {
  line-height: 1.8;
  color: #484848;
  margin-bottom: 20px;
}

  .news-title-1 {
  position: absolute;
  top: -10px;
  right: 25px;
  color: #484848;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.house-ann-cont {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.house-ann-header {
  position: relative;
}

.house-ann-cont .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #666;
}

.main-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.left-block {
  flex: 2;
  min-width: 300px;
}

.right-block {
  flex: 1;
  min-width: 300px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.image-placeholder-large {
  width: 100%;
  height: 250px;
  background-color: #ccc;
  border-radius: 6px;
}

.image-placeholder-small {
  width: 24%;
  height: 60px;
  border-radius: 4px;
  background-color: #ccc;
  border-radius: 6px;
}

.gallery {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.info-table {
  margin-top: 30px;
}

.info-table p {
  margin: 5px 0;
}

.object-card1 {
  background: #fff;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
  border: 1px solid #656565;
  overflow: hidden;
  width: 300px;
  text-align: left;
  transition: 0.3s;
}

.object-card1:hover {
  transform: scale(1.05);
  
}

.object-img1 {
  background-color: #ddd;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.object-img-png1 {
  width: 100%;
  height: 100%;
}

.object-info1 {
  padding: 15px;
}

.object-price1 {
  color: #1c4732;
  font-weight: bold;
  margin-bottom: 8px;
}

.object-title1 {
  all: unset; 
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
  margin-right: 10px;;
  color: #484848;
  border: none;
  background: none;
  cursor: pointer;
}

.object-details1 {
  font-size: 13px;
  color: #787878;
}

.home111 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home111 h1 {
  font-size: 30px;
  margin-left: 0px;
  color: #1c4732;
  margin-top: 15px;
}

  @media (max-width: 768px) {
 .body {
    font-size: 14px;
    box-sizing: border-box;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .menu {
    margin-left: 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu a {
    font-size: 14px;
  }

  .phone {
    margin-top: 10px;
    font-size: 14px;
  }

  .add-house {
    margin-top: 10px;
    padding: 8px 10px;
    font-size: 14px;
  }

  .main {
    padding: 30px 10px;
  }

  .main h1 {
    font-size: 24px;
  }

  .search {
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }

  .search input {
    max-width: 100%;
  }

  .filters {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .steps2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .step {
    width: 92%;
  }

  .categories {
    padding: 40px 10px;
  }

  .category-list {
    flex-direction: column;
    gap: 15px;
  }

  .category-card {
    width: 92%;
  }

  .object-list {
    flex-direction: column;
    gap: 15px;
  }

  .object-card {
    width: 100%;
  }

  .trust-us {
    padding: 40px 10px;
  }

  .trust-us-content {
    flex-direction: column;
    gap: 20px;
  }

  .trust-us-png img {
    width: 0%;
  }

  .get-contact {
    padding: 30px 10px;
  }

  .get-contact-enter {
    width: 100%;
    min-width: unset;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }
}